body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #151b29;
}

button {
    background: none;
    color: peru;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: all 1s;
}

button:hover {
    border-color: yellowgreen;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.5em greenyellow;
    transform: translateY(-0.25em);
}
